<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
 <% menuItems.forEach(food => { %>
  <h1><%= food.category %></h1>
  <%- include('./partials/nav') %>

    <h2><%=food.name%></h2>
    <p>$<%=food.price%></p>
    <p><%=food.rating%>/5</p>
    <p><%=food.details%></p>
<% }); %>

</body>
</html>
