<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= menuItems[0].category[0].toUpperCase() + menuItems[0].category.slice(1)  %></h1>
 <% menuItems.forEach(food => { %>
    <h2><%=food.name%></h2>
    <p>$<%=food.price%></p>
    <p><%=food.rating%>/5</p>
    <p><%=food.details%></p>
<% }); %>

</body>
</html>
